/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:38fd7ed0844e4ad87865587fcaa19ec1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(ui.png);}

.atk {width:11px; height:23px; background-position: -245px -305px}
.btn-addunit {width:65px; height:51px; background-position: -178px -305px}
.btn-skip {width:65px; height:51px; background-position: -111px -305px}
.def {width:15px; height:25px; background-position: -83px -329px}
.health {width:17px; height:17px; background-position: -179px -358px}
.health-bar {width:107px; height:10px; background-position: -2px -305px}
.health-bar-bg {width:107px; height:10px; background-position: -2px -317px}
.help {width:31px; height:39px; background-position: -50px -329px}
.range {width:22px; height:17px; background-position: -131px -358px}
.range-bg {width:22px; height:17px; background-position: -155px -358px}
.reach {width:22px; height:17px; background-position: -83px -358px}
.reach-bg {width:22px; height:17px; background-position: -107px -358px}
.unit-info-avatar-bg {width:46px; height:46px; background-position: -2px -329px}
.unit-info-bg {width:257px; height:301px; background-position: -2px -2px}
